a.menu-button {
    width: 500px;
    height: 80px;
    display: block;
    font-size: 3em;
    font-weight: bold;
    margin: 30px auto;
    text-decoration: none;
    text-align: center;
}

a.menu-button div {
    width: inherit;
    height: inherit;
    position: absolute;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

a.menu-button div.menu-button-bottom {
    background-image: url('img/menu_button_active.png');
    color: #75edff;
}

a.menu-button div.menu-button-top {
    background-image: url('img/menu_button.png');
}

a.menu-button div.menu-button-top:hover, a.menu-button div.menu-button-top:active {
    opacity: 0;
}